body{
  background-color:white;
   margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Encode Sans', sans-serif;
}

html {
  margin: 0;
  padding: 0;
  border: 0;
}
/* Header and nav bar style*/
#logo{
display: inline-block;
 /*height: 75%;*/
 vertical-align: middle;
 padding-left: 100px;
 width: 250px;
 height: 180px;
 line-height: 150px;
 margin-left: 50px;
 float: left;
 padding-top: 6px;
}



.nav {
   text-align: right;
   height: 70px;
   line-height: 70px;
   background-color:#ffea8f;
   position: relative;
}
.menu {
   margin: 0 30px 0 0;
}
.menu a {
   clear: right;
   text-decoration: none;
   color: gray;
   margin: 0 50px;
   line-height: 70px;
}

label {
   margin: 0 40px 0 0;
   font-size: 26px;
   line-height: 70px;
   display: none;
   width: 26px;
   float: right;
}
#toggle {
   display: none;
}


/*Header Styles*/

.main-image-burger{
  background-image: url("img/burger.jpeg");
  background-size: cover;
  background-position: center center;
  height: 669px;
  width: 100%;
}

/*#burger-img{
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index:-5;
}*/

#name{
  margin: 0;
  text-align: left;
  color: white;
  padding-right: 25%;
  padding-top: 12%;
  padding-left: 10%;
  font-size: 4em;
}

#address {
color: white;
font-size: 2.5em;
padding-left: 10%;
margin-top: 0;
}

#get-directions-button{
  margin-left: 10%;
  font-size: 1.5em;
  background-color:  #ffea8f;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


#contact-button{
  margin-left:  30px;
  font-size: 1.5em;
  background-color:  #ffea8f;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}



/******************Menu Styles*******************/
/*expirememtn*/


#hide{
  background-image: url("img/hide.jpeg");
  background-size: cover;
  background-position: center center;

  height: 360px;
  width: 100%;
  z-index:-5;
  text-align: center;
}

#image-hide{
  background-color: rgba(0,0,0,0.6);
  position: relative;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index:-5;
}

#button{
  font-size: 30px;
  background-color: #ffea8f;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 20px;
}

#menu-h2{
  color: white;
  font-size: 4em;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 20px;
}

/*expirememtn*/
.menu-body {
  max-width: 680px;
  margin: 0 auto;
  display: block;
  color: rgb(92, 92, 92);
  display: none;
}

.menu-section {
  margin-bottom: 80px;
}

.menu-section-title {
  font-family: 'Encode Sans', sans-serif;
  font-size: 50px;
  display: block;
  font-weight:normal;
  margin: 20px 0;
  text-align: Center;
}

.menu-item {
  margin: 35px 0;
  font-size: 18px;
}

.menu-item-name{
  font-family: 'Encode Sans', sans-serif;
  font-weight: bold;
  border-bottom: 2px dotted rgb(213, 213, 213);
}

.menu-item-description {
  font-style: italic;
  font-size: .9em;
  line-height: 1.5em;
}

.menu-item-price{
  float: right;
  font-weight: bold;
  font-family: arial;
  margin-top: -22px;
}

/*Private events*/
.private-event{
  background-image: url("img/event.jpeg");
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 420px;
  width: 100%;
  z-index:-5;
  margin-bottom: 30px;
}

#image-event{
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index:-5;
}

#private-event-h2{
  color: white;
    text-align: center;
    padding-top: 132px;
    font-size: 3em;
    margin: 0;
}


/* Hours and map style*/
.map-hours-container {
column-count: 2;
column-gap: 25px;
padding: 35px 19px;
}
#map{
  height: 290px;
  width: 273px;
  padding-left: 450px;
}

#hours{
  position: relative;
    bottom: 33px;
    right: 54px;
    padding: 0 82px;
}

/*horario*/
#formH1{
  text-align: center
}
.hours {
  float: right;
font-size: 20px;
}

.day{
  border-bottom: 2px dotted rgb(213, 213, 213);
  font-size: 20px;
}

/*Contact  and social Media*/
.contact-container{
  background-color: #ffea8f;
  column-count: 2;
  column-rule-width: 50;
  column-gap: 20px;
  padding-bottom: 30px;
}

.social{
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 10px;
}

.fa{
  color: black;
  padding-bottom: 20px;
}

.fa-instagram{
  padding-left: 60px;
  padding-right: 60px;
}

#imgae-social{
  width: 300px;
  height: 200px;
}

/************/

.contact-number{
  text-align: center;
  padding-top: 30px;
  line-height:10px;
}

.number-h4{
  font-size: 30px;
}

.number{
  font-size: 1em;
}

.fa-phone::before{
  padding-right: 10px;
font-size: 44px;
position: relative;
top: 10px;
bottom: 13px;
}

.fa-envelope::before{
  position: relative;
  font-size: 40px;
  padding-right: 15px;
  top: 10px;
}

/*clear floats*/
.groups:after{
  content: ' ';
  display: table;
  clear: both;
}


/*Media queries*/
@media only screen and (max-width: 900px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;

    }
    #toggle:checked + .menu {
        display: block;
        z-index: 1000;
        background-color: blue;
    }

    #logo{
      width: 214px;
      height: 150px;
      margin-left: 22px;
      padding-top: 5px;
      padding-left: 0;
    }
  }

@media (max-width: 780px) {
    #name{
      font-size: 3.5em;
      padding-top: 40%;
    }

    #address{
      font-size: 2.5em;
    }
    .map-hours-container{
      column-count: 1;
    }
  #hours{
    /*left: 5px;
    padding: 0 172px;*/
    width: auto;
margin: 0 -100px 5px 0;
  }
  #map{
    /*padding: 0 21%;
  left: 70px;*/
  width: auto;
      padding-left: 2px;
  }

  .contact-container{
    column-count: 1;
width: auto;
  }

  .contact-container a {
    font-size: 25px;
  }
}

@media (max-width: 580px){
  #name{
    font-size: 37px;
    padding-top: 81%;
  }
  #address{
    font-size: 25px;
  }
  #get-directions-button{
font-size: 20px;
  }
  #contact-button{
    font-size: 20px;
        margin-left: 38px;
        margin-top: 11px;
  }

}
